#form-create {
    width: 600px;
    margin: 20px auto;
}

#form {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
}

td {
    padding-bottom: 50px;
}



.submit-form {
    display: flex;
    justify-content: space-between;
}

.submit-form #reset {
    width: 100px;
    height: 40px;
    background-color: darksalmon;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 7px;
}

.submit-form a:hover {
    text-decoration: none;
}

.column {
    padding-left: 30px;
}

#confirm {
    width: 600px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 30px;
}

.confirm_input {
    margin-bottom: 20px;
}

#search {
    width: 95%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
}
#search table{
    width: 50%;
}

#search td {
    padding-left: 30px;
}

#search .input input{
    width: 90%;
}

#reset {
    width: 80px;
    height: 30px;
    background-color: burlywood;

    text-align: center;
}

#reset a {
    color: white;
}

#reset a:hover {
    text-decoration: none;
}



.submit-form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-form #reset {
    width: 100px;
    height: 40px;
    background-color: darksalmon;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 7px;
}

.submit-form a:hover {
    text-decoration: none;
}

#search button {
    height: 40px;
}

#no-record {
    text-align: center;
}

#table-emp {
    width: 95%;
    margin: 20px auto;
}

#export-link {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    text-align: center;
}

#export a {
    color: white;
    line-height: 40px;
}

#export a:hover {
    text-decoration: none;
}

#export {
    margin-bottom: 20px;
}