.create {
    width: 600px;
    margin: 20px auto;

}

#create-input {
    width: 100%;
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

input {
    margin-left: 50px;
}

.submit-form {
    display: flex;
    justify-content: space-between;
}

.submit-form #reset {
    width: 100px;
    height: 40px;
    background-color: darksalmon;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-top: 7px;
}

.submit-form a:hover {
    text-decoration: none;
}

#confirm {
    width: 600px;
    margin: 20px auto;
}

#create-team-confirm {
    padding: 30px;
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form {
    width: 350px;
    margin: 20px auto;
    display: flex;
}

#paginate {
    margin-right: 50%;
    margin-left: 50%;

}

.form a:hover {
    text-decoration: none;
}

.form a {
    color: red;
}

#reset {
    margin-left: 15px;
}

#table-team {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

#update {
    margin-right: 15px;
}

#no-record {
    text-align: center;
}

#update-form {
    width: 600px;
    margin: 20px auto;
}